* {
  padding: 0;
  margin: 0;
  background-color: #2941AB;
  color: #1ED760;
}

.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* min-height: 100vh; */
}

h1 { 
  font-size: 5em;
  letter-spacing: 0.05em;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 550px;
  /* text-shadow: 2px 2px #1ED760; */
  /* text-shadow: #1ED760 0px 10px 36px 0px, #1ED760 0px 0px 0px 1px; */
  /* box-shadow: 3px 3px 10px 1px rgb(0, 0, 0, 0.4); */
  text-shadow: rgba(30, 215, 96, 0.6) 0px 3px 3px;
}

h3 {
  font-size: 2em;
  font-weight: normal;
}

/*
1. Input:
  -resize submit button ✅ 
  -input box to be transparent and rounded ✅ 
  -flexbox it to make it side-by-side ✅ 
2. Insight element
3. Positioning/flexboxing of the entire page 
4. Style the background with the many colours
  -SVG
5. Fonts: style, size, weight etc.
6. Logo
7. Dark mode toggle button
8. Dark mode (in general) ~context?
9. Change the input from div to form (❗might be necessary for logic to work❗)



*/
