* {
  padding: 0;
  margin: 0;
  background-color: #2941ab;
  color: #1ed760;
}

.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* min-height: 100vh; */
}

h1 {
  font-size: 5em;
  letter-spacing: 0.05em;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 550px;
  /* text-shadow: 2px 2px #1ED760; */
  /* text-shadow: #1ED760 0px 10px 36px 0px, #1ED760 0px 0px 0px 1px; */
  /* box-shadow: 3px 3px 10px 1px rgb(0, 0, 0, 0.4); */
  text-shadow: rgba(30, 215, 96, 0.6) 0px 3px 3px;
}

h3 {
  font-size: 2em;
  font-weight: normal;
}

h4 {
  font-style: italic;
  font-size: 1.5em;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2.75em;
    width: 100%;
  }
  h4 {
    font-size: 1.2em;
  }
  h3 {
    font-size: 1.1em;
  }
  img {
    margin-right: 0.25em;
  }
}
