* {
  padding: 0;
  margin: 0;
  background-color: #2941AB;
  color: #1ED760;
}

.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

/*
1. Input:
  -resize submit button ✅ 
  -input box to be transparent and rounded ✅ 
  -flexbox it to make it side-by-side ✅ 
2. Insight element
3. Positioning/flexboxing of the entire page 
4. Style the background with the many colours
  -SVG
5. Fonts: style, size, weight etc.
6. Logo
7. Dark mode toggle button
8. Dark mode (in general) ~context?
9. Change the input from div to form (❗might be necessary for logic to work❗)



*/
